*{
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    background-color: #292929;
	font-family: 'Courier New', Courier, monospace;
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400; text-align: center; color: #E6E6FA;}

.content{
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	padding-top: 15%;
	overflow: none;
}
.datatime{
	min-height: 200px;
	max-width: 500px;
	background: #E6E6FA;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 1px 1px 10px #E6E6FA;
	position: relative;
	overflow:auto;
}
h3{color: #292929; padding-top: 30px;font-size: 50px;}
.btn{
	height: 50px;
	width: 100px;
	background: #292929;
	color: #E6E6FA;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	transition: 0.5s;
	margin-bottom: 20px;
}
#full{background-color: rgb(62, 81, 168);}
#time{background-color: rgb(182, 67, 67);}
#date{background-color: rgb(67, 182, 105);}

.flexcont{
display: block;
padding-top: 20px;
text-align: center;
}
.btn:hover{
	box-shadow: 1px 1px 10px #292929;
}