.nav-btn{
    display: none;
    
}
@media(max-width:1000px){
    .nav-btn{
        font-size: 1.5em;
        padding-inline: 10px;
        padding-bottom: 3px;
        padding-left: 30px;
        background: transparent;
        border: none;
        display: block;
        cursor: pointer;
        z-index: 100;

    }
    .header-nav{
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
     
    }
    .list-nav{
        display: none;
    }
    .navbar-btn li{
        padding-bottom: 5px;
    }
    .navbar-btn:hover .list-nav{
        display: block;
        position: absolute;
        right: 50px;
        background-color: #E6E6FA;
        float: right;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: 1px 1px 10px #363636;
        padding: 20px;
     
    }
    .navbar-btn a:hover{
        text-decoration: underline;
    }
}