@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color: #E6E6FA;
}

.header-nav{
	display: flex;
	height: 100px;
	justify-content: space-around;	
	align-items: center;


}
.header-nav>label{
	color: #1f1f1f;
	font-size: 20px;
}
.lnav{
	display: flex;
	width: 57%;
	

	
}
.lnav>ol>li{

	list-style: none;

}
.lnav>ol>li>a{
	text-decoration: none;
	margin: 10px;
	font-size: 20px;
	color: #1d1d1d;
	
}
.list-nav{
	display: flex;
	

}

.main-wind{
	position: relative;
	width: 100%;
	height: 1080px;
	z-index: -2;
}
.main-wind>img{
	width: 100%;
	min-height: 1080px;
}
.main-us{
	display: flex;
	flex-direction: column;
	position:absolute;
	top: 25%;
	right: 25%;
	left: 25%;
	}
	.main-us>.lab{
		color: #E6E6FA;
		font-size: 55px;
		text-align: center;

	}
	.main-us>label{
		color: #E6E6FA;
		font-size: 20px;
		margin-top: 30px;
		text-align: center
	}
	#btn-main{
		top: 100%;
		padding-top: 100px;
		margin: 0 auto;

	}
	.ourBtn{
		font-size: 20px;
		padding: 10px 15px;
		margin-right: 15px;
		background: transparent;
		color: #E6E6FA;
		border-radius: 2px;
		border: 1px solid #E6E6FA;
		cursor: pointer;
		transition: 1s;
	}
	.ourBtn:hover{
		background: #1ec8ae76;
		border: none;
	}
	.hireBtn{
		font-size: 20px;
		padding: 10px 15px;
		background: #1ec8ae76;
		color: #E6E6FA;
		border: none;
		border-radius: 2px;
		cursor: pointer;
		transition: 1s;
	}
	.hireBtn:hover{
		background: transparent;
		border: 1px solid #E6E6FA;

	}
	.lupa{
		display: flex;
		width: 30px;
		
	}
	.lupa>img{
		width: 30px;
		padding-left: 15px;
	}

	/* about Us */
 .about{
	position: relative;
 }
	.label{
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	max-width: 700px;
	line-height:25px;
	}
	.label>h2{
		padding-bottom: 20px;
	}
	.stap{
		display: flex;
		flex-direction: column;
		width: 25%;
		align-items: center;
		text-align: center;
		line-height: 25px;
	}
	.stap>p{
		margin: 25px;
	}
	.stap>img{
		width: 25%;
		padding-bottom: 30px;
		align-self: center;
	}
	.menu-about{
		display: flex;
		justify-content: space-around;
	}

		/* Servicing */
	
		.container{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 600px 600px;
		
		}
		
		.card{
			margin: 1em;
			display: grid;
			background: #E6E6FA;
			transition: 1s;
			border-radius: 1px;
			
		}
		.card:hover{
			background-color: #009999;
			color: #E6E6FA;
		
		}
		.card>img{
			width: 100px;
			padding-top: 70px;
			justify-self: center;
			
			
		}

		.content{
			text-align: center;
			font-family: 'Courier New', Courier, monospace;
			padding: 20px;
			padding-top: 0;
			padding-bottom: 70px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		
			
		}
		#btn{
			background: transparent;
			padding: 20px;
			font-size: 20px;
			border: 3px solid #282828;
			cursor: pointer;
			top: 100%;
			margin: 0 auto;
			transition: 1s;
		
		
		}
		#btn:hover{
			background-color: #009999;
			color: #E6E6FA;
			border: 3px solid #E6E6FA;
		}
		.serv{
			background: #97d1fb45;
			padding-bottom: 100px;
		}
		/* .right-bar{
			grid-column: 1/3;
		}
		.cont{
			grid-column: 3/11;
		}
		.left-bar{
			grid-column: 11/13;
		} */
		.label-serv{
			margin: 0 auto;
			margin-top: 10%;
			padding-top: 10%;
			margin-bottom: 10%;
			text-align: center;
			max-width: 700px;
			line-height:25px;
			}
			.label-serv>h2{
				padding-bottom: 20px;
			}
		@media(max-width:1000px){
			.container{
				grid-template-columns: 1fr 1fr;
				grid-template-rows: repeat(3);
			}
			.card{
				height: 30em;
				margin: 0;
		
			}
		}
		@media(max-width:600px){
			.container{
				grid-template-columns:  1fr;
				grid-template-rows: repeat(6);
				margin:0;
			}
			.card{
				margin: 2em;
		
			}
			.card>img{
				padding-top: 50px;
			}
		}